<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Company</title>

</head>
<body>
<form th:method="POST" th:action="@{save}" th:object="${newCompany}">
<div>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
</div>
    <div>
        <label for="image">Image URL</label>
        <input type="text" th:field="*{imageURL}" id="image">
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text" th:field="*{description}" id="description">

    </div>

    <button type="submit">Save Company</button>
</form>

</body>
</html>